@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
} 

body {
    background: #444;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    cursor: none;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}
.background span {
    width: 20vw;
    height: 20vh;
    border-radius: 50vw;
    position: fixed;
    animation: move;
    animation-duration: 5;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -1;
}

.background span:nth-child(0) {
    color: #800e18;
    top: 69%;
    left: 76%;
    animation-duration: 57s;
    animation-delay: -33s;
    transform-origin: -19vw 13vh;
    box-shadow: 70vmin 0 9.113476218614442vmin currentColor;
}
.background span:nth-child(1) {
    color: #3aafd6;
    top: 36%;
    left: 85%;
    animation-duration: 31s;
    animation-delay: -3s;
    transform-origin: 4vw 5vh;
    box-shadow: 70vmin 0 9.413904869779158vmin currentColor;
}
.background span:nth-child(2) {
    color: #3aafd6;
    top: 76%;
    left: 5%;
    animation-duration: 75s;
    animation-delay: -73s;
    transform-origin: -23vw 14vh;
    box-shadow: 70vmin 0 8.756874895657209vmin currentColor;
}
.background span:nth-child(3) {
    color: #800e18;
    top: 6%;
    left: 60%;
    animation-duration: 102s;
    animation-delay: -40s;
    transform-origin: 11vw -10vh;
    box-shadow: 70vmin 0 9.023245897747602vmin currentColor;
}
.background span:nth-child(4) {
    color: #800e18;
    top: 50%;
    left: 65%;
    animation-duration: 83s;
    animation-delay: -87s;
    transform-origin: -3vw 9vh;
    box-shadow: -70vmin 0 9.019136142152481vmin currentColor;
}
.background span:nth-child(5) {
    color: #800e18;
    top: 7%;
    left: 92%;
    animation-duration: 86s;
    animation-delay: -23s;
    transform-origin: -12vw 15vh;
    box-shadow: -70vmin 0 8.844573804777202vmin currentColor;
}
.background span:nth-child(6) {
    color: #3aafd6;
    top: 93%;
    left: 61%;
    animation-duration: 15s;
    animation-delay: -8s;
    transform-origin: -12vw 5vh;
    box-shadow: 70vmin 0 9.310948412068068vmin currentColor;
}
.background span:nth-child(7) {
    color: #800e18;
    top: 28%;
    left: 74%;
    animation-duration: 63s;
    animation-delay: -70s;
    transform-origin: 6vw 14vh;
    box-shadow: -70vmin 0 9.630638210520367vmin currentColor;
}
.background span:nth-child(8) {
    color: #3aafd6;
    top: 71%;
    left: 94%;
    animation-duration: 15s;
    animation-delay: -1s;
    transform-origin: 12vw -13vh;
    box-shadow: -70vmin 0 8.878847794117874vmin currentColor;
}
.background span:nth-child(9) {
    color: #800e18;
    top: 76%;
    left: 96%;
    animation-duration: 50s;
    animation-delay: -1s;
    transform-origin: 19vw 23vh;
    box-shadow: 70vmin 0 8.781968608772312vmin currentColor;
}


#cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 30px;
    left: 25px;
    border: 4px solid #fff;
    border-radius: 50%;
    pointer-events: none;
    background: #fff;
    mix-blend-mode: difference;
    z-index: 1;
}

nav {
    position: absolute;
}

.navbar {
    min-width: 80vw;
    height: 60px ;
    margin-top: 25px;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    box-shadow: 2px 0 8px 4px rgba(255, 255, 255, 0.2);
}

.navbar ul {
    display: flex;
    gap: 50px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: none;
    color: #fff;
}

.container {
    width: 80vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: calc(30% - 250px);
    padding: 25px;
    background: #111;
    box-shadow: 2px 0 8px 4px rgba(255, 255, 255, 0.2);    
    border-radius: 40px;
}

.container h1 {
    color: #fff;
    font-size: 54px;
    letter-spacing: 4px;
}

.container .icons {
    display: flex;
    gap: 50px;
}

.container .icons svg {
    width: 60px;
    height: 60px;
    padding: 6px;
    background-color: #fff;
    border-radius: 50%;
}

@media screen and (max-width: 1200px) {
    .container {
        position: absolute;
        top: 150px;
    }
}

@media screen and (max-width: 800px) {
    .container {
        position: absolute;
        top: 250px;
    }
}

@media screen and (max-width: 590px) {
    .navbar ul {
        gap: 25px;
    }
    .container {
        position: absolute;
        top: 350px;
    }
    .container h1 {
        font-size: 42px;
    }
}

@media screen and (max-width: 560px) {
    .container {
        position: absolute;
        top: 350px;
    }
    .container .icons {
        gap: 24px;
    }
}

@media screen and (max-width: 450px) {
    .navbar ul {
        gap: 10px;
    }
    .container {
        position: absolute;
        top: 350px;
        width: 80vw;
    }
    .container h1 {
        font-size: 30px;
    }
    .container .icons {
        gap: 14px;
    }
    .container .icons svg {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 400px) {
    .navbar {
        width: 90vw;
    }
    .container {
        width: 90%;
    }
}